{% extends 'base.html' %}

{% block body %}
	<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 loginbox">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">
					Sorry!!
				</div>
				<div style="padding-top: 30px" class="panel-body">
					There seems to be a problem activating this account.
					Please contact us at <a href="mailto:support@assybeauty.com">
						support@assybeauty.com
					</a>
				</div>
			</div>	
		</div>
		
	</div>
{% endblock %}